.site_header {
    position: absolute;
    background: #000066;
    right: 0;
    left: 0;
    z-index: 1999;
    width: auto;
    margin: auto;
}

a.site_title_link {
  color: white;
}

a.site_title_link:hover{
  text-decoration: none;
  color: #AAAAAA;
}


.site_header.fixed {
  position: fixed;
  top: 0;
}

.site_title {
    display: inline-block;
    color: white;
    margin-left:2em;
    margin-top: 1em;
}

.menu {
    display: inline-block;
    float:right;
}

.image {
  background-color: #000;
}

.top_image_vw {
    width : 70vw;
    height: 35vw;
    border: 0.5px solid #fff;
    display: inline-block;
  }

.image_vw {
  width : 50vw;
  height: 35vw;
  border: 0.5px solid #fff;
  display: inline-block;
}

.top_catch_copy {
  display:inline-block;
  width : 30vw;
  float:right;
  margin-top: 10vw;
}

.top_catch_copy_frame {
  text-align: center;
}

.catch_copy_text {
  color: #DDDDDD;
  padding: 1.5em 3em 0em;
  font-size: 1.2vw;
}

.catch_copy_img {
  color: #fff;
  width : 25vw;
}

.catch_copy_box {
  display:inline-block;
  width : 50vw;
  float:right;
  margin-top: 10vw;
}

.catch_copy {
  color: #DDDDDD;
  font-size: 2.5vw;
  margin: 0em 2em;
  font-weight: bold;
}

.form_body {
    padding: 2em 3em 3em;
}
.button_area {
    text-align:center;
}

.history_body {
    padding: 0em 0em 3em;
}

.history_table_title {
  display: inline-block;
  padding: 1px 10px 0 10px;
  background: #afdcee;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: bold;
}

table.history_table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: solid 2px #afdcee;
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#fff 3px, #fff 7px);
  }
  
table.history_table tr{
  cursor: pointer;
  border-bottom: dashed 1px #87cefa;
}

table.history_table tr:hover{
  background-color: #d4f0fd;
}

table.history_table th,table.history_table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
  border-bottom: dashed 1px #87cefa;
}

table.boston_houses_table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
}

table.boston_houses_table tr{
  border: solid 1px;
  padding: 10px;
}

table.boston_houses_table td{
  border: solid 1px;
  padding: 10px;
}

table.wine_table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
}

table.wine_table tr{
  border: solid 1px;
  padding: 10px;
}

table.wine_table td{
  border: solid 1px;
  padding: 10px;
}

table.dataframe {
  margin-left: auto;
  margin-right: auto;
}

table.dataframe tr{
  padding: 5px;
}

table.dataframe th{
  text-align:center;
  padding: 5px;
}

table.dataframe td{
  padding: 5px;
}

.content_card {
  margin:8em 3em 2em;
  background-color: #fff;
  min-width: 430px;
}

.content_paginator {
  padding-bottom:2em;
}

.history_link {
  color: #007bff;
}

.topic_body {
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.topic_item {
  width: calc(50% - 20px);
  position: relative;
  margin: 0 0 40px 20px;
}

.topic_image {
  width:100%;
  max-height: 10em;
  margin-bottom: 1em;
}

.topic_item_title {
  font-weight: bold;
  padding-bottom: 0.5em;
}

.topic_item_text {
  line-height: 1.5;
  color:#7F7F7F;
  font-size: 0.8em;
  margin: 0.5em;
}

a.topic_item_link:hover{
  text-decoration: none;
}

.term {
  margin-top: 2em;
}

.example {
  margin-top: 3em;
}

.purpose {
  margin-top: 3em;
}

.implement {
  margin-top: 3em;
  margin-bottom: 2em;
  display: block;
}

.gist {
  max-width: 700px !important;
  height: 500px !important;
  margin-left: 2em;
  overflow-y:scroll;
}

.result {
  margin-top: 4em;
  margin-left: 20%;
  margin-bottom:2em;
  font-weight:bold;
}

.score-block {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.reference {
  margin-top:6em;
}

.regression_form {
  margin-top: 3em;
  text-align: center;
}

.run_btn {
  color: white;
  background-color: skyblue;
  border-color: skyblue;
  border-radius: 10%;
  box-shadow: 0px 3px 5px lightgray;
  border-bottom: solid 3px gray;
}

.run_btn:hover {
  background-color:dodgerblue;
  border-color: dodgerblue;
}

.graph{
  width: 50vw;
}

strong {
  color: red;
}

.topic_page {
  padding: 1.5rem;
  color: #6d727c;
  width: 100%;
}

.topic_page_title {
  font-weight: bold;
  font-size: 1.17em;
  margin: 0.5em 0em 2em;
  color:#000;
}

.topic_page_content{
  padding: 0em 1.5em;
}


.cue_item {
  color: #000;
  font-size: 1.1em;
  margin: 2em 0em 0.5em;
}

.term_item {
  color: #000;
  font-weight: bold;
}

.term_text {
  margin-left: 2em;
}

.table_title {
  text-align:center;
  margin-top:3em;
}

.gist_note {
  margin-bottom:1.5em;
}

.commentary {
  margin-top: 3em;
}

.formula_box {
  margin-top:2em;
  margin-right:5em;
  color: #000;
  display: inline-block;
  float: left;
}

.formula_box_cue{
  margin-left:8%;
}

.formula_image {
  margin-left:13%;
  margin-top:1em;
  width: 20vw
}

.formula_image_box {
  margin: 1em 1em 0em 0em;
  display: inline-block;
}

.sigmoid_graph {
  width: 35vw;
}

.graph_frame {
  text-align:center;
}

.graph_bottom {
  text-align:center;
  font-size: small;
  margin-top: 0.5em;
}

.note_box{
  background-color: #f0f8ff;
  color: #000;
  margin: 1em 2em;
  border: solid 1px #afdcee;
  border-radius: 7px;
}

.note_content_box {
  padding: 1em 1em 2em 1em;
}

.note_content{
  background-color: #f0f8ff;
  background-image:
  linear-gradient(90deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 50%, #f0f8ff 0%, #f0f8ff 100%), linear-gradient(180deg, rgba(100, 100, 100, 0) 0%, rgba(100, 100, 100, 0) 97.5%, #1E90FF 100%);
  background-size: 8px 100%,100% 2em;
  line-height: 2em;
}

.note_content_item {
  display: inline-block;
  color: #2c2c2f;
  background: #cde4ff;
  padding: 0em 1em;
  margin-left: 1em;
  font-weight: bold;
  line-height: 1.8em;
  width:5em;
  text-align: center;
}

.note_posted_date {
  display: inline-block;
  margin-left: 2vw;
  font-size: 2vw;
}

.note_content_text {
  color: #6d727c;
  word-break: break-all;
}

.record_content_card {
  padding-top:2em;
}

.note_date {
  font-size: 1.5rem;
  padding: 1.65rem 2rem;
  background-color: rgba(165, 210, 255, .4);
  background-image:
    linear-gradient(90deg, rgba(165, 210, 255, .3) 50%, transparent 50%),
    linear-gradient(rgba(165, 210, 255, .3) 50%, transparent 50%);
  background-size: 40px 40px;
}

.button_group {
  margin: 3em 0em 2em 0em;
  display:flex;
  text-align:center;
  float: right;
}

.button_area {
  margin-top: 3em;
}

.note_edit_form {
  margin:0em 2em;
}

.button_group_box {
  height: 8em;
  background-color: #fff;
  margin-right: 3em;
}

.post_title {
  padding-top: 1em;
  padding-left: 2em;
  font-size: 2em;
}

.introduction_body {
  padding:3em;
}

.introduction_part {
  padding:1em 2em 2em;
  color:#555;
}

.purpose_creation {
  line-height: 2em;
}

.purpose_creation_part {
  margin-left: 1.7em;
  color: #000;
}

.creation_opportunity_part {
  padding-top:1em;
  color: #000;
}

.introduction_headline {
  padding: .5em .75em;
  background-color: #DDFFFF;
  border-left: 6px solid #0099FF;
}

.introduction_part_item {
  margin-top: 3em;
  margin-bottom: 0.5em;
  color: #000;
}

.engineer_introduction_part > .contents {
  line-height: 2em;
}

.hobby_introduction_part > .contents {
  line-height: 2em;
}