<div class="site_title">
    <a class="site_title_link" href="{% url 'index' %}">カタカタ学習</a>
</div>
<div class="menu">
    <nav class="navbar navbar-expand navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">機械学習</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">記録</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">投稿</a>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" href="/admin/logout?next=/report/">ログアウト</a> -->
            </li>
        </ul>
    </nav>
</div>